<!DOCTYPE html>
<html>
  <head>
    <title>RubyTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body role="document">
    <%= render "layouts/navbar" %>
    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	    <%= yield %>
	</div>
     <%= render "layouts/footer"%>
   </div>
  </body>
</html>
